<?xml version='1.0' encoding='utf-8'?>
<widget id="hk.spooky.hkbusapp" version="0.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HKBus</name>
    <description>Fork of hkbus.app with modifications for my own use</description>
    <author email="dev@spooky.hk" href="https://spooky.hk/">
        SpookyKipper
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="assets/img/favicon.png" />
</widget>
